@inherits LayoutComponentBase

<PageTitle>NajotBooking.Web</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
            <ErrorBoundary>
                <ChildContent>
                    
                </ChildContent>
                <ErrorContent>
                    <h2>Some errors occurred</h2>
                </ErrorContent>
            </ErrorBoundary>
            
        </article>
    </main>
</div>
