@page "/AllOrders";

<div>
    <div class="d-flex justify-content-between">
        <h3>OrdersList</h3>
        <a href="/create/order" class="btn btn-success"><i class="bi bi-plus-circle"></i> &nbsp; Create Order</a>
    </div>
    @if (Orders == null || Orders.Count() < 1)
    {
        <p class="text-center">Loading...</p>
    }
    else
    {
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Price</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col">Action</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Orders)
                {
                    <tr>
                        <td>@(orderNumber++)</td>
                        <td>
                            @($"{@order.Price} sum ,{@order.Duration} hour")
                        </td>
                        <td>@($"{@order.StartDate:dd.MM.yyyy}, {@order.StartDate:HH:mm}")</td>
                        <td>@($"{@order.EndDate:dd.MM.yyyy}, {@order.EndDate:HH:mm}")</td>
                        <td>
                            <a href="/detail/order/{@order.Id}" class="btn btn-success"><i class="bi bi-pencil-square"></i> &nbsp; Edit </a>
                        </td>
                        <td>
                            <NavLink href=@($"/orders/delete-order/{order.Id}") class="btn btn-danger"> 
                                <i class="bi bi-trash3"></i> &nbsp; Delete
                            </NavLink>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {

}
